@charset "utf-8";

/* ========================================
    リセットcss
========================================= */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-style:normal;
	font-weight: normal;
	font-size: 100%;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
html{overflow-y: scroll;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {content: ''; content: none;}
input, textarea{margin: 0; padding: 0;}
ol, ul{list-style:none;}
table{border-collapse: collapse; border-spacing:0;}
caption, th{text-align: left;}
a:focus {outline:none;}

/* micro clearfix */
.cf:before,
.cf:after {
    content: " ";
    display: table;
}
.cf:after {clear: both;}
.cf {*zoom: 1;}


body{
    font-family: "メイリオ", Meiryo;
}

div#wrapper {
	width: 960px;
	margin: 0 auto;
}

header{
    width: 100%;
	height: 30px;
	padding: 20px 0;
    position: relative;
    border-bottom: 1px solid #000;
}
header h1{
    font-size: 30px;
	color: #555555;
	background: url(images/logo.png) no-repeat;
	padding-left: 51px;
	line-height: 1;
	height: 49px;
    float: left;
}
div#main{
    margin-top: 20px;
}
div#form{
    height: 300px;
    width: 960px;
    border:  1px solid #000;
    padding-top: 50px;
    background-color: #f5f5f5;
    border-radius: 0.5em;
}
form#form-area{
    height: auto;
    width: 460px;
    margin: 0 auto;
    border:  1px solid #000;
    border-radius: 0.5em;
}
div#todo{
    margin-top: 50px;
    height: 500px;
    width: 960px;
    border:  1px solid #000;
    background-color: #f5f5f5;
    border-radius: 0.5em;
}
div#todo h2{
    border-bottom: 1px solid #000;
    text-align: center;
    padding: 10px 0px;
}